/*CSS NI VEE SAKIT SA ULO*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
  a {
    text-decoration: none;
  }
  .Ditoyungmaincontent {
    width: 1850px;
    height: 2000px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    margin: 30px;
    padding: 10px;
    background: url(\img/Background.jpg  );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px;
  }
  .ditoyunglogo{
    display: flex;
    align-items: center;
    padding: 0px;  
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  .logo {
    max-height: 70px;
    cursor: pointer;
  }
  .mnlhyperlink{
    color: #ffffff;
    font-size: large;
  }
  .mnlhyperlinkhome{
    color: #fdfdfd;
    font-size: large;
  }
  .CoverPhotoHome nav ul li a{
    color: #ffffff;
    position: relative;
    padding: 5px 0;
  }
  nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
    font-size: medium;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  }
  nav ul li a {
    color: #ffffff;
    position: relative;
    padding: 5px 0;
    
  }
  nav ul li a:hover {
    color: #fd4766;
  }
  nav ul li a:after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: #fd4766;
    transition: 0.3s;
    bottom: 0;
  }
  nav ul li a:hover:after {
    width: 100%;
  }
  ul li ul.dropdown li {
    display: block;
    background: #fd4766;
    margin: 2px 0px;
    border-radius: 50px;
  }
    ul li ul.dropdown {
    width: 190px;
    position: absolute;
    display: none;
 }

    ul li:hover ul.dropdown{
    display: block;
  }
  .Homedesign {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 16px 40px;
    border-radius: 500px;
    display: inline-block;
    font-weight: 500;
    transition: all 0.4s ease-in-out;
    background-size: 152% 100%;
    background: #fd4766;
    border: 2px solid #fd4766;
  }
  .Homedesign:hover {
    background: transparent;
    border-color: #fd4766;
    color: #fd4766;
  }

  p{
    color: white;
  }
  .speechnialvee p, .speechnialeah p{
    color: black;
  }
  /*Dito yung mga description sa slides*/
  .content {
    position: absolute;
    top: 1000px;
    left: 3%;
  }
  .content2 {
    position: absolute;
    top: 1150px;
    left: 4%;
    right: 66%;
    text-align: justify;
    font-size: 20px;
    text-indent: 50px;
  
  }

  .content3 {
    position: absolute;
    top: 1150px;
    left: 4%;
    right: 66%;
    text-align: justify;
    font-size: 20px;
    text-indent: 50px;
  }
  .content4 {
    position: absolute;
    top: 1150px;
    left: 4%;
    right: 66%;
    text-align: justify;
    font-size: 20px;
    text-indent: 50px;
  }
  .content5 {
    position: absolute;
    top: 1150px;
    left: 4%;
    right: 68%;
    text-align: justify;
    font-size: 20px;
    text-indent: 50px;
  }
  .content6 {
    position: absolute;
    top: 1150px;
    left: 4%;
    right: 66%;
    text-align: justify;
    font-size: 20px;
    text-indent: 50px;
  }
  .content7 {
    position: absolute;
    top: 1150px;
    left: 4%;
    right: 66%;
    text-align: justify;
    font-size: 20px;
    text-indent: 50px;
  }
  .content8 {
    position: absolute;
    top: 1150px;
    left: 4%;
    right: 66%;
    text-align: justify;
    font-size: 20px;
    text-indent: 50px;
  }
  .content9 {
    position: absolute;
    top: 1150px;
    left: 4%;
    right: 63%;
    text-align: justify;
    font-size: 20px;
    text-indent: 50px;
  }
  .content h1 {
    color: #cf8617;
    font-size: 75px;
    line-height: 90px;
    width: 100%;
  }
  .content h1 span {
    color: #d34d0a;
  }

 
  /* Dito yung mga Image sa UL*/
  .CasaManilaCover{
    height: 80%;
    background: url(\img/CasaManilaCover.png);
    background-position: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 760px;
    border-radius: 30px;
    
  }
  .ManilaOceanParkCover{
    height: 80%;
    background: url(\img/ManilaOceanParkCoverPic.png);
    background-position: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 760px;
    
  }
  .NationalMuseoCover{
    height: 80%;
    background: url(\img/NationalMuseoCover.png);
    background-position: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 760px;
    
    
  }
  .SanAgustinChurchCover{
    background: url(\img/SanAgustinChurchCover.png);
    background-position: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 760px;
    
    
  }
  .FortSantiagoCover{
    background: url(\img/FortSantiagoCover.png);
    background-position: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 760px;
    
    
  }
  .RizalParkCover{
    background: url(\img/RizalParkCover.png);
    background-position: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 760px;
    
    
  }
  .IntramurosCover{
    background: url(\img/IntramurosCover.png);
    background-position: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 760px;
   
    
  }
  .ManilaCathedralCover{
    background: url(\img/ManilaCathedralCover.png);
    background-position: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 760px;
    
    
  }

  .CasaManila{
    height: 55%;
    background: url(\img/casa\ de\ manila.jpg);
    background-position: 100%;
    background-size: 1200px;
    background-repeat: no-repeat;
    
    
    
  }
  .ManilaOceanPark{
    
    background: url(\img/ManilaOceanPark.webp);
    background-position: 100%;
    height: 40%;
    background-repeat: no-repeat;
    background-size: 1130px;

    
  
  }
  .NationalMuseo{
    background: url(\img/NATIONAL\ MUSEO.jpg);
    background-position: 100%;
    background-repeat: no-repeat;
    height: 55%;
    background-size: 1200px;
    
  }
  .SanAgustinChurch{
    height: 55%;
    background: url(\img/SanAgustin.jpg);
    background-position: 100%;
    background-repeat: no-repeat;
    
  }
  .FortSantiago{
    height: 57%;
    background: url(\img/fort-santiago.jpg);
    background-position: 100%;
    background-size: 1250px;
    background-repeat: no-repeat;
    
  }
  .RizalPark{
    height: 55%;
    background: url(\img/RizalHome.jpg);
    background-position: 100%;
    background-size: 1200px;
    background-repeat: no-repeat;
    
  }
  .Intramuros{
    height: 61%;
    background: url(\img/Intramuros.jpg);
    background-position: 100%;
    background-size: 1200px;
    background-repeat: no-repeat;
  }
  .ManilaCathedralChurch{
    height: 52%;
    background: url(\img/ManilaCathedral.jpg);
    background-position: 100%;
    background-size: 1200px;
    background-repeat: no-repeat;
  }

  /*FOR HOMEPAGE*/

  .maangasnascroll {
    height: 100vh;
    perspective: 300px;
  }
  
  .parallax__group {
    position: relative;
    height: 70vh;
    width: 100vw;
    transform-style: preserve-3d;
  }
  
  .parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .BackgroundImgRizalScrollEffect {
    background-repeat: no-repeat; 
    align-items: center ;
    background-size: cover;
    transform: translateZ(-600px) scale(3);
    z-index: 1;
  }
  
  .CoverPhotoHome {
    height: 991px;
    width: 1918 px;
    background: url(\img/CoverPhotoHome.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: auto;
      
  }
  
  header .DitoYungAlignmentSaHome {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .DitoYungMgaTextSaHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin: 200px;
    
  }
  
  .DitoYungMgaTextSaHome h1 {
    font-size: 190px;
    line-height: 160px;
    color: transparent;
    -webkit-text-stroke: 3px #f5f2f2;

  }
  
  .DitoYungMgaTextSaHome p {
    text-align: center;
    color: rgb(252, 252, 252);
    font-weight: 900;
    font-size: 40px;
    
  
  }

  /* DITO MGA IMAGE */

  .DitoYungGallery{
    background: url(\img/Background.jpg);
    height: 1120px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
   

  }
  hr{
    
    width: 500px;
    margin: auto;
    align-items: center;
  }
  .DitoYungGallery h1{
    text-align: center;
    height: 130px;
    padding-top: 30px;
    color: #ffffff;
   
    
  }
  .DitoYungGallery h2 {
    text-align: center;
    color: rgb(252, 252, 252);
    font-weight: 900;
    font-size: 20px;
  }
  .DitoYungGallery img{
    filter: grayscale(100%);
    
    
  }
  .DitoYungGallery img:hover {
    transform: scale(1.1) rotate(0);
    transition: 0.5s ease-in-out;
    filter: grayscale(0);
    filter: brightness(100%);
    
    
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    max-height: 600px;
  }
  
  .column {
   
    max-width: 33.3%;
    padding: 0 4px;
    
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 445px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s linear;
    height: 400px;
  }

  /* dito yung About*/
  .AboutDitoPar{
    height: 1900px;
    background-color: rgb(255, 255, 255);
    padding: 90px;
  }
  .AboutDitoPar h1{
    text-align: center;
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

  }
  .AboutDitoPar p{
    text-align: center;
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 30px;
    padding-bottom: 30px;

  }
  .PictureNiAlvee{
    height: 600px;
    width: 500px;
    background: url(\img/AlveePic.JPG);
    background-size: 600px;
    background-repeat: no-repeat;
    border-radius: 50%;
    
  }
  .PictureNiAleah{
    height: 600px;
    width: 500px;
    background: url(\img/AleahPic.jpg);
    background-size: 600px;
    background-repeat: no-repeat;
    border-radius: 50%;
    
    
  }

  .speechnialvee p{
  
      font-size: 20px;
      padding-left: 600px;
      padding-top: 10%;
      float: left;
      text-align: justify;
      font-size: 30px;
      text-indent: 50px;
  }
  
  .speechnialeah p{
    font-size: 20px;
    padding-left: 600px;
    padding-top: 10%;
    float: left;
    text-align: justify;
    font-size: 30px;
    text-indent: 50px;

}



.rating {
  background: #ffffffbe;
  border: 4px solid #000000;
  width: 900px;
  height: 200px;
  display: flex;
  flex-direction:row; 
  transform: translate(-50%, -50%) rotateY(180deg);
  align-items: center;
  border-radius: 20px;
  position: relative;
  border-style: groove;
  justify-content: center;
  left: 50%;
  top: 200px;
}

.rating input {
  display: none;
}

.rating label {
  cursor: pointer;
  display: block;
  text-align: center;
  font-size: 30px;
  color: #0e0e1f;
  margin: 20px; 
  
}

.rating label::before {
  content: '\f005';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 50px;
  position: relative;
  display: block;
  color: #2c2b22ab;
}

.rating-label::after {
  content: '\f005';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 50px;
  position: relative;
  top: 0;
  opacity: 0;
  display: block;
  color: rgb(255, 233, 111);
  transition: 0.5s;
  text-shadow: 0 2px 5px #040405 rgba(0, 0, 0, 0.5);
}

.rating label:hover::after,
.rating label:hover ~ label::after,
.rating label:checked ~ label::after {
  opacity: 1;
}

.rating label:hover::before,
.rating input:checked ~ label::before {
  color: rgb(255, 233, 111);
}

.rating-description {
  font-weight: bold;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  margin-top: 10px;
}

.description-container{
  position: relative;
  width: 10px;
  height: 80px;
  transform: translate(-50%, -50%) rotateY(180deg);

}


.description-text {
  position: absolute;
  font-weight:bold;
  text-align: center;
  font-family: monospace;
  font-weight: lighter;
  top: 110px;
  left: 60px;
  font-size: 20px;
  width: 400px;
  height: fit-content; 
  color: #ffffff; 
}


.rating input:checked#star1 ~ label ~ .description-container .description-text::after {
  content: "NGEKKK";
}

.rating input:checked#star2 ~ label ~ .description-container .description-text::after {
  content: "NGII";
}

.rating input:checked#star3 ~ label ~ .description-container .description-text::after {
  content: "SAKS LANG";
}

.rating input:checked#star4 ~ label ~ .description-container .description-text::after {
  content: "BERRY GOOD";
}

.rating input:checked#star5 ~ label ~ .description-container .description-text::after {
  content: "100 NA SA CARD!!";
}

  /* dito yung FOOTER*/
 
  footer {
    background: #4e4b4a;
    padding: 10px;
    height: 100px;
  }
  
  footer .Footerdito {
    display: grid;
    gap: 1.5rem;
    text-align: center;
    color: rgb(255, 255, 255);
  }
  
  footer h4 {
    font-size: 1.5rem;
    font-weight: 500;
  }
  


